<p>
  test works!
</p>
<ng-container *ngComponentOutlet="CompleteComponent;
                                      injector: myInjector;
                                      content: myContent;
                                      ngModuleFactory: module"></ng-container>
<ng-container *ngComponentOutlet="CompleteComponent;
                                      injector: myInjector;
                                      content: myContent;
                                      ngModuleFactory: module"></ng-container>
